<div style="position:absolute;top:0;left:0;right:0;bottom:0;">
  <mat-sidenav-container style="margin: 0;padding: 0;width: 100%">
    <mat-toolbar style="background-color:#87cefa">
      <button mat-icon-button (click)="back()">
        <i class="fa fa-long-arrow-left" style="float:left"></i>
      </button>
      <div style="text-align:center;width:100%">我的消息</div>
    </mat-toolbar>
  </mat-sidenav-container>
  <div class="inner-sidenav-content">

    <mat-tab-group [(selectedIndex)]="index" (selectChange)="selectChange()" mat-stretch-tabs>
      <mat-tab>
        <ng-template mat-tab-label>
          评论
          <span class="badge" style="background:red" *ngIf="commentList|filterLength:'read':true">{{commentList|filterLength:'read':true}}</span>
        </ng-template>
        <mat-card *ngFor="let a of commentList | sort:'time'" (click)="gotoCommentDetail(a)">
          <mat-card-header>
            <div mat-card-avatar [ngStyle]="{'background-image': 'url('+a.user.headUrl+')','background-size': 'cover'}" *ngIf="a.user.headUrl"></div>
            <div mat-card-avatar [ngStyle]="{'background-image': 'url(../../assets/img/default.jpeg)','background-size': 'cover'}" *ngIf="!a.user.headUrl"></div>
            <div class="circle" *ngIf="!a.read"></div>
            <mat-card-title>
              <div>
                <strong>{{a?.user.name}}</strong>{{a.time|date:'yy/MM/dd HH:mm:ss'}}评论了你:
              </div>
              {{a?.comment}}
            </mat-card-title>
            <mat-card-subtitle>
              {{a?.article?.title||a?.activity?.title}}
            </mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          👍
          <span class="badge" style="background:red" *ngIf="supportList|filterLength:'read':true">{{supportList|filterLength:'read':true}}</span>
        </ng-template>
        <mat-card *ngFor="let a of supportList| sort:'time'" (click)="gotoSupportDetail(a)">
          <mat-card-header>
            <div mat-card-avatar [ngStyle]="{'background-image': 'url('+a.user.headUrl+')','background-size': 'cover'}" *ngIf="a.user.headUrl"></div>
            <div mat-card-avatar [ngStyle]="{'background-image': 'url(../../assets/img/default.jpeg)','background-size': 'cover'}" *ngIf="!a.user.headUrl"></div>
            <div class="circle" *ngIf="!a.read"></div>
            <mat-card-title>
              {{a?.user.name}}给你👍{{a.time|date:'yy/MM/dd HH:mm:ss'}}
            </mat-card-title>
            <mat-card-subtitle>
              {{a?.article?.title||a?.activity?.title}}
            </mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          发起
          <span class="badge" style="background:red" *ngIf="sponsorList|filterLength:'sponsorRead':true">{{sponsorList|filterLength:'sponsorRead':true}}</span>
        </ng-template>
        <mat-card *ngFor="let a of sponsorList| sort:'time'" (click)="gotoSponsorActivityDetail(a)">
          <mat-card-header>
            <div mat-card-avatar [ngStyle]="{'background-image': 'url('+a.joinUser.headUrl+')','background-size': 'cover'}" *ngIf="a.joinUser.headUrl"></div>
            <div mat-card-avatar [ngStyle]="{'background-image': 'url(../../assets/img/default.jpeg)','background-size': 'cover'}" *ngIf="!a.joinUser.headUrl"></div>
            <div class="circle" *ngIf="!a?.sponsorRead"></div>
            <mat-card-title>
              {{a?.joinUser?.name}}报名参与你发起的活动
              <div *ngIf="a.isSuccess===1">未审核</div>
              <div *ngIf="a.isSuccess===0">审核未通过</div>
              <div *ngIf="a.isSuccess===2">审核成功</div>
              <div>{{a.time|date:'yy/MM/dd HH:mm:ss'}}</div>
            </mat-card-title>
            <mat-card-subtitle>
              {{a?.activity?.title}}
            </mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          参与
          <span class="badge" style="background:red" *ngIf="participantList|filterLength:'participantRead':true">{{participantList|filterLength:'participantRead':true}}</span>
        </ng-template>
        <mat-card *ngFor="let a of participantList| sort:'time'" (click)="gotoParticipantActivityDetail(a)">
          <mat-card-header>
            <div mat-card-avatar [ngStyle]="{'background-image': 'url('+a.publishUser.headUrl+')','background-size': 'cover'}" *ngIf="a.publishUser.headUrl"></div>
            <div mat-card-avatar [ngStyle]="{'background-image': 'url(../../assets/img/default.jpeg)','background-size': 'cover'}" *ngIf="!a.publishUser.headUrl"></div>
            <div class="circle" *ngIf="!a?.participantRead"></div>
            <mat-card-title>
              {{a?.publishUser?.name}}发起的活动你参与的
              <div *ngIf="a.isSuccess===1">未审核</div>
              <div *ngIf="a.isSuccess===0">审核未通过</div>
              <div *ngIf="a.isSuccess===2">审核成功</div>
              <div>{{a.time|date:'yy/MM/dd HH:mm:ss'}}</div>
            </mat-card-title>
            <mat-card-subtitle>
              {{a?.activity?.title}}
            </mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-tab>

    </mat-tab-group>
  </div>
</div>
<style>
  .circle {
    width: 8px;
    height: 8px;
    background: red;
    border-radius: 33.3%;
  }
</style>
