<div style="position:absolute;top:0;left:0;right:0;bottom:0;">

  <mat-toolbar style="margin: 0;padding: 0;width: 100%">
    <mat-toolbar style="background-color:#87cefa">
      <button mat-icon-button (click)="back()">
        <i class="fa fa-long-arrow-left" style="float:left"></i>
    </button>
      <div style="text-align:center;width:100%">添加</div>
      <i class="fa fa-home" style="float:right" (click)="home()"></i>
    </mat-toolbar>
  </mat-toolbar>
  <div class="inner-sidenav-content">

    <form novalidate style="padding:5px">
      <table style="width:100%">
        <tr>
          <td class="col-xs-5">
            <h4><i class="fa fa-tags" style="margin:10px;color:#eb7350"></i>活动名称</h4>
          </td>
          <td>
            <mat-input-container>
              <input matInput placeholder="请输入活动名称" required maxlength="30" name="title" [(ngModel)]="activity.title" #title="ngModel">
              <mat-hint align="end">{{title.model?.length}} / 30</mat-hint>
            </mat-input-container>
          </td>

        </tr>
        <tr>
          <td class="col-xs-5">
            <h4><i class="fa fa-address-card" style="margin:10px;color:#eb7350"></i>联系方式</h4>
          </td>
          <td>
            <mat-input-container>
              <input matInput placeholder="请输入联系方式" required name="publishUserContact" [(ngModel)]="activity.publishUserContact" #publishUserContact="ngModel">
            </mat-input-container>
          </td>
        </tr>
        <tr>
          <td class="col-xs-5">
            <h4><i class="fa fa-map-marker" style="margin:10px;color:#eb7350"></i>详细地址</h4>
          </td>
          <td>
            <mat-input-container>
              <input matInput placeholder="请输入详细地址" maxlength="50" name="address" [(ngModel)]="activity.address" #address="ngModel">
              <mat-hint align="end">{{address.model?.length}} / 50</mat-hint>
            </mat-input-container>
          </td>
        </tr>

        <tr>
          <td class="col-xs-5">
            <h4>
              <i class="fa fa-clock-o" style="margin:10px;color:#eb7350"></i> 开始时间
            </h4>
          </td>
          <td>
            <owl-date-time [showButtons]="true" [locale]="en" name="date" placeHolder="请填写开始时间*" [(ngModel)]="startTime" required #starttimeTemplate>
            </owl-date-time>
          </td>
        </tr>

        <tr>
          <td class="col-xs-5">
            <h4><i class="fa fa-clock-o" style="margin:10px;color:#eb7350"></i>结束时间</h4>
          </td>
          <td>
            <owl-date-time [showButtons]="true" [locale]="en" name="date" placeHolder="请填写结束时间*" [min]="startTime>now?startTime:now" [(ngModel)]="endTime"
              required #endtimeTemplate>
            </owl-date-time>
          </td>
        </tr>
      </table>
      <div>
        <div id="summernote"></div>
        <image-upload [max]="1" [url]="ActivityUrl" [buttonCaption]="'封面'" [dropBoxMessage]="'最多上传1张照片'" [extensions]="['jpg','png','gif']"
          (uploadFinished)="imageUploaded($event)" (removed)="imageRemoved($event)"></image-upload>
      </div>

      <button (click)="commit()" #commitButton [disabled]="disableCommit" class="btn btn-primary btn-block">
    <mat-progress-spinner *ngIf="showSpinner" mode="indeterminate" strokeWidth="15" color="accent">
    </mat-progress-spinner>
    <span  *ngIf="!showSpinner" >
                发布
        </span>
  </button>
    </form>
  </div>
</div>
<style>
  .mat-progress-spinner {
    width: 20px;
    height: 20px;
    margin: 0 auto;
  }

  .example-margin {
    margin: 0 10px;
  }

  .mat-input-container {
    width: 100%!important;
  }

   ::deep .button {
    --active-color: #eb7350;
    border-radius: 30px;
    font-size: 10px!important;
  }
</style>
