<md-toolbar style="margin: 0;padding: 0;width: 100%">
  <md-toolbar style="background-color:#87cefa">
    <button md-icon-button (click)="back()">
        <i class="fa fa-long-arrow-left" style="float:left"></i>
    </button>
    <div style="text-align:center;width:100%">添加</div>
    <i class="fa fa-home" style="float:right" (click)="home()"></i>
  </md-toolbar>
</md-toolbar>
<form [formGroup]="form" style="padding:5px">
  <table style="width:100%">
    <tr>
      <h4><i class="fa fa-tags" style="color:green;margin:10px;"></i>活动名称</h4>
      <md-input-container>
        <input mdInput placeholder="请输入活动名称" maxlength="30" [formControl]="title" #title0>
        <md-hint align="end">{{title0.value.length}} / 30</md-hint>
      </md-input-container>
      <div [hidden]="title.valid || title.untouched" style="color:#a94442">
        <div [hidden]="!title.hasError('required')">请输入活动名称</div>
      </div>
    </tr>
    <tr>
      <h4><i class="fa fa-map-marker" style="color:green;margin:10px;"></i>详细地址</h4>
      <md-input-container>
        <input mdInput placeholder="请输入详细地址" maxlength="50" [formControl]="address" #address0>
        <md-hint align="end">{{address0.value.length}} / 50</md-hint>
      </md-input-container>
      <div [hidden]="address.valid || address.untouched" style="color:#a94442">
        <div [hidden]="!address.hasError('required')">请输入详细地址</div>
      </div>
    </tr>

    <tr>
      <h4><i class="fa fa-map-marker" style="color:green;margin:10px;"></i>活动开始时间</h4>
      <!-- <datetime [ngModelOptions]="{standalone: true}" [(ngModel)]="startTime" [timepicker]="timepickerOpts" [datepicker]="datepickerOpts"></datetime> -->
    </tr>

    <tr>
      <h4><i class="fa fa-map-marker" style="color:green;margin:10px;"></i>活动结束时间</h4>
      <!-- <datetime [ngModelOptions]="{standalone: true}" [(ngModel)]="endTime" [timepicker]="timepickerOpts" [datepicker]="datepickerOpts"></datetime> -->
    </tr>

    <tr>
      <h4><i class="fa fa-map-marker" style="color:green;margin:10px;"></i>发布者联系方式</h4>
      <md-input-container>
        <input mdInput placeholder="请输入联系方式" [formControl]="publish_user_contact">
      </md-input-container>
      <div [hidden]="publish_user_contact.valid || publish_user_contact.untouched" style="color:#a94442">
        <div [hidden]="!publish_user_contact.hasError('required')">请输入发布者联系方式</div>
      </div>
    </tr>

    <tr>
      <image-upload [max]="9" [url]="ActivityUrl" [buttonCaption]="'添加图片'" [dropBoxMessage]="''" [extensions]="['jpg','png','gif']"
        (onFileUploadFinish)="imageUploaded($event)" (onRemove)="imageRemoved($event)"></image-upload>
    </tr>

    <tr>
      <div>
        <h4><i class="fa fa-file-text" style="color:green;margin:10px;"></i>活动介绍</h4>
        <div id="summernote"></div>
      </div>
    </tr>
  </table>

  <button (click)="commit()" #commitButton [disabled]="form.invalid" class="btn btn-primary btn-block">
    <md-progress-spinner *ngIf="showSpinner" mode="indeterminate" strokeWidth="15" color="accent">
    </md-progress-spinner>
    <span  *ngIf="!showSpinner" >
                发布
        </span>
  </button>
</form>

<style>
  .mat-progress-spinner {
    width: 20px;
    height: 20px;
    margin: 0 auto;
  }

  .example-margin {
    margin: 0 10px;
  }

  .mat-input-container {
    width: 100%!important;
  }

  /deep/ .button {
    --active-color: #eb7350;
    border-radius: 30px;
    font-size: 10px!important;
  }

  /deep/ .button span {
    /* background-color: yellow!important; */
  }
</style>