<md-toolbar style="margin: 0;padding: 0;width: 100%">
  <md-toolbar style="background-color:#87cefa">
    <button md-icon-button (click)="back()">
        <i class="fa fa-long-arrow-left" style="float:left"></i>
    </button>
    <div style="text-align:center;width:100%">报名列表</div>
  </md-toolbar>
</md-toolbar>

<md-tab-group>
  <md-tab label="报名待审核">
    <div *ngIf="waitList.length">
      <md-card *ngFor="let wait of waitList;let i=index">
        <md-card-header>
          <div md-card-avatar [ngStyle]="{'background-image': 'url('+wait.joinUser.headUrl+')','background-size': 'cover'}" *ngIf="wait.joinUser.headUrl"></div>
          <div md-card-avatar [ngStyle]="{'background-image': 'url(../../assets/img/default.jpeg)'}" *ngIf="!wait.joinUser.headUrl"></div>
          <md-card-title>{{wait.joinUser.name}}</md-card-title>
          <md-card-subtitle>
            报名时间:{{wait.time|date:'yyyy-MM-dd HH:mm:ss'}}
          </md-card-subtitle>
        </md-card-header>
        <button class="btn btn-primary" *ngIf="user.user.id===wait.activity.publishUserId &&(wait.isSuccess !== 2)" (click)="joinActivitySuccess(wait)">审核通过</button>
        <button class="btn btn-primary" *ngIf="user.user.id===wait.activity.publishUserId &&(wait.isSuccess !== 0)" (click)="joinActivityFail(wait)">审核不通过</button>
      </md-card>
    </div>
    <div *ngIf="!waitList.length" style="text-align:center;">
      暂无报名待审核人数
    </div>
  </md-tab>


  <md-tab label="审核通过">
    <div *ngIf="successList.length">
      <md-card *ngFor="let success of successList;let i=index">
        <md-card-header>
          <div md-card-avatar [ngStyle]="{'background-image': 'url('+success.joinUser.headUrl+')','background-size': 'cover'}" *ngIf="success.joinUser.headUrl"></div>
          <div md-card-avatar [ngStyle]="{'background-image': 'url(../../assets/img/default.jpeg)'}" *ngIf="!success.joinUser.headUrl"></div>
          <md-card-title>{{success.joinUser.name}}</md-card-title>
          <md-card-subtitle>
            报名时间:{{success.time|date:'yyyy-MM-dd HH:mm:ss'}}
          </md-card-subtitle>
        </md-card-header>
      </md-card>
    </div>
    <div *ngIf="!successList.length" style="text-align:center;">
      暂无审核通过人数
    </div>
  </md-tab>

  <div *ngIf=" user?.user?.id === publishUserId">
    <md-tab label="审核失败">
      <div *ngIf="failList.length">
        <md-card *ngFor="let fail of failList;let i=index">
          <md-card-header>
            <div md-card-avatar [ngStyle]="{'background-image': 'url('+fail.joinUser.headUrl+')','background-size': 'cover'}" *ngIf="fail.joinUser.headUrl"></div>
            <div md-card-avatar [ngStyle]="{'background-image': 'url(../../assets/img/default.jpeg)'}" *ngIf="!fail.joinUser.headUrl"></div>
            <md-card-title>{{fail.joinUser.name}}</md-card-title>
            <md-card-subtitle>
              报名时间:{{fail.time|date:'yyyy-MM-dd HH:mm:ss'}}
            </md-card-subtitle>
          </md-card-header>
        </md-card>
      </div>

      <div *ngIf="!failList.length" style="text-align:center;">
        暂无审核失败人数
      </div>
    </md-tab>
  </div>
</md-tab-group>

<style>
  /deep/ .mat-tab-label {
    min-width: 33.3%!important;
  }
</style>