<div style="position:absolute;top:0;left:0;right:0;bottom:0;">
  <mat-sidenav-container style="margin: 0;padding: 0;width: 100%">
    <mat-toolbar style="background-color:#87cefa">
      <button mat-icon-button (click)="back()">
                <i class="fa fa-long-arrow-left" style="float:left"></i>
              </button>
      <div style="text-align:center;width:100%">活动列表</div>
    </mat-toolbar>
  </mat-sidenav-container>
  <div class="inner-sidenav-content">

    <mat-tab-group [(selectedIndex)]="index" (selectChange)="selectChange()" mat-stretch-tabs>
      <mat-tab label="发起">
        <mat-card *ngFor="let publish of pulishActivityList">
          <mat-card-header (click)="gotoActivityDetail(publish.id)">
            <mat-card-title>
              {{publish.title}}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <i class="fa fa-eye" style="color:#eb7350"></i>{{publish.readNumber}}
            <i class="fa fa-thumbs-up" style="color:#eb7350"></i>{{publish.countSupportNumber}}
            <i class="fa fa-commenting" style="color:#eb7350"></i>{{publish.countCommentNumber}}
            <small>{{publish.publishTime|date:'yy/MM/dd HH:mm:ss'}}</small>
          </mat-card-content>
        </mat-card>
      </mat-tab>

      <mat-tab label="参与">
        <mat-card *ngFor="let join of joinActivityList">
          <mat-card-header (click)="gotoActivityDetail(join.id)">
            <mat-card-title>
              {{join.title}}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <i class="fa fa-eye" style="color:#eb7350"></i>{{join.readNumber}}
            <i class="fa fa-thumbs-up" style="color:#eb7350"></i>{{join.countSupportNumber}}
            <i class="fa fa-commenting" style="color:#eb7350"></i>{{join.countCommentNumber}}
            <small>{{join.publishTime|date:'yy/MM/dd HH:mm:ss'}}</small>
          </mat-card-content>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
