<div style="position:absolute;top:0;left:0;right:0;bottom:0;">
    <md-sidenav-container style="margin: 0;padding: 0;width: 100%">
        <md-toolbar style="background-color:#87cefa">
            <div style="text-align:center;width:100%">忘记密码</div>
            <i class="fa fa-home" style="float:right" (click)="home()"></i>
        </md-toolbar>
    </md-sidenav-container>
    <div class="inner-sidenav-content">
        <div style="height:200px!important;margin:40px;" class="text-left">
            <form style="padding:5px">
                <table style="width:100%;text-align:left;margin:5px;">
                    <tr>
                        <td>
                            手机号:
                        </td>
                        <td>
                            <md-input-container>
                                <input mdInput placeholder="手机号" pattern="^1[34578][0-9]{9}$" required maxlength="11" name="mobile" [(ngModel)]="ForgetPas.phone"
                                    #mobile="ngModel" (ngModelChange)="mobileChange($event)">
                                <md-hint align="end">{{mobile.model?.length}} / 11</md-hint>
                            </md-input-container>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            验&nbsp;&nbsp;证&nbsp;&nbsp;码:
                        </td>
                        <td>
                            <md-input-container>
                                <input mdInput placeholder="验证码" required maxlength="4" name="code" [(ngModel)]="ForgetPas.code" #code="ngModel">
                                <md-hint align="end">{{code.model?.length}} / 4</md-hint>
                            </md-input-container>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            密&nbsp;&nbsp;&nbsp;&nbsp;码:
                        </td>
                        <td>
                            <md-input-container>
                                <input mdInput type="password" placeholder="密码(至少6位)" required maxlength="16" name="password" [(ngModel)]="ForgetPas.password"
                                    #password="ngModel">
                            </md-input-container>
                        </td>

                    </tr>
                </table>
                <button (click)="confirm()" class="btn btn-info btn-block">确认修改</button>
            </form>
            <div style="margin-top:25px;">
                <a routerLink="/user/login" class="btn btn-link pull-right">想起来了,马上登录</a>
            </div>
        </div>
    </div>
</div>
