<md-toolbar style="margin: 0;padding: 0;width: 100%">
  <md-toolbar style="background-color:#87cefa">
    <button md-icon-button (click)="back()">
          <i class="fa fa-long-arrow-left" style="float:left"></i>
          </button>
    <div style="text-align:center;width:100%">添加</div>
    <i class="fa fa-home" style="float:right" (click)="home()"></i>
  </md-toolbar>
</md-toolbar>
<div class="inner-sidenav-content">

  <form novalidate style="padding:5px">
    <table style="width:100%">
      <tr>
        <h4><i class="fa fa-tags" style="margin:10px;color:#eb7350"></i>标题</h4>
        <md-input-container>
          <input mdInput placeholder="标题" required maxlength="30" name="title" [(ngModel)]="article.title" #title="ngModel">
          <md-hint align="end">{{title.model?.length}} / 30</md-hint>
        </md-input-container>
        <div *ngIf="title.invalid && (title.dirty || title.touched)" style="color:#a94442">
          <div *ngIf="title.hasError('required')">请填写标题</div>
        </div>
      </tr>
      <tr>
        <h4><i class="fa fa-map-marker" style="margin:10px;color:#eb7350"></i>地址</h4>
        <md-input-container>
          <input mdInput placeholder="地址" required maxlength="50" name="address" [(ngModel)]="article.address" #address="ngModel">
          <md-hint align="end">{{address.model?.length}} / 50</md-hint>
        </md-input-container>
        <div *ngIf="address.invalid && (address.dirty || address.touched)" style="color:#a94442">
          <div *ngIf="address.hasError('required')">请填写地址</div>
        </div>
      </tr>

      <tr>
        <image-upload [max]="6" [url]="ArticleUrl" [buttonCaption]="'添加图片'" [dropBoxMessage]="'最多上传6张照片'" [extensions]="['jpg','png','gif']"
          (uploadFinished)="imageUploaded($event)" (removed)="imageRemoved($event)"></image-upload>
      </tr>

      <tr>
        <div>
          <h4><i class="fa fa-file-text" style="color:green;margin:10px;"></i>活动介绍</h4>
          <div id="summernote"></div>
        </div>
      </tr>
    </table>

    <button (click)="commit()" #commitButton class="btn btn-primary btn-block">
      <md-progress-spinner *ngIf="showSpinner" mode="indeterminate" strokeWidth="15" color="accent">
      </md-progress-spinner>
      <span  *ngIf="!showSpinner" >
                  发布
          </span>
    </button>
  </form>
</div>
<style>
  .mat-progress-spinner {
    width: 20px;
    height: 20px;
    margin: 0 auto;
  }

  .example-margin {
    margin: 0 10px;
  }

  .mat-input-container {
    width: 100%!important;
  }

  /deep/ .button {
    --active-color: #eb7350;
    border-radius: 30px;
    font-size: 10px!important;
  }

  /deep/ .button span {
    /* background-color: yellow!important; */
  }

  .inner-sidenav-content {
    overflow: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 64px;
  }
</style>