<mat-toolbar style="margin: 0;padding: 0;width: 100%">
  <mat-toolbar style="background-color:#87cefa">
    <button mat-icon-button (click)="back()">
          <i class="fa fa-long-arrow-left" style="float:left"></i>
          </button>
    <div style="text-align:center;width:100%">添加</div>
    <i class="fa fa-home" style="float:right" (click)="home()"></i>
  </mat-toolbar>
</mat-toolbar>
<div class="inner-sidenav-content">

  <form novalidate style="padding:5px">
    <table style="width:100%">
      <tr>
        <h4><i class="fa fa-tags" style="margin:10px;color:#eb7350"></i>标题</h4>
        <mat-input-container>
          <input matInput placeholder="标题" required maxlength="30" name="title" [(ngModel)]="article.title" #title="ngModel">
          <mat-hint align="end">{{title.model?.length}} / 30</mat-hint>
        </mat-input-container>
      </tr>
      <tr>
        <h4><i class="fa fa-map-marker" style="margin:10px;color:#eb7350"></i>地址</h4>
        <mat-input-container>
          <input matInput placeholder="地址" required maxlength="50" name="address" [(ngModel)]="article.address" #address="ngModel">
          <mat-hint align="end">{{address.model?.length}} / 50</mat-hint>
        </mat-input-container>
      </tr>

      <tr>
        <image-upload [max]="1" [url]="ArticleUrl" [buttonCaption]="'封面'" [dropBoxMessage]="'只能上传1张照片'" [extensions]="['jpg','png','gif']"
          (uploadFinished)="imageUploaded($event)" (removed)="imageRemoved($event)"></image-upload>
      </tr>

      <tr>
        <div>
          <h4><i class="fa fa-file-text" style="color:#eb7350;margin:10px;"></i>旅游详情</h4>
          <div id="summernote"></div>
        </div>
      </tr>
    </table>

    <button (click)="commit()" #commitButton class="btn btn-primary btn-block">
      <mat-progress-spinner *ngIf="showSpinner" mode="indeterminate" strokeWidth="15" color="accent">
      </mat-progress-spinner>
      <span  *ngIf="!showSpinner" >
                  发布
          </span>
    </button>
  </form>
</div>
<style>
  .mat-progress-spinner {
    width: 20px;
    height: 20px;
    margin: 0 auto;
  }

  .example-margin {
    margin: 0 10px;
  }

  .mat-input-container {
    width: 100%!important;
  }

  /deep/ .button {
    --active-color: #eb7350;
    border-radius: 30px;
    font-size: 10px!important;
  }

  /deep/ .button span {
    /* background-color: yellow!important; */
  }
</style>
