<md-toolbar style="margin: 0;padding: 0;width: 100%">
    <md-toolbar style="background-color:#87cefa">
        <button md-icon-button (click)="back()">
                    <i class="fa fa-long-arrow-left" style="float:left"></i>
                  </button>
        <div style="text-align:center;width:100%">我的话题</div>
        <i class="fa fa-home" style="float:right" (click)="home()"></i>
    </md-toolbar>
</md-toolbar>
<form style="padding:5px">
    <table style="width:100%">
        <tr>
            <h4><i class="fa fa-tags" style="margin:10px;color:#eb7350"></i>话题</h4>
            <md-input-container>
                <input mdInput placeholder="话题" required maxlength="30" name="title" [(ngModel)]="article.title" #title="ngModel">
                <md-hint align="end">{{title.model?.length}} / 30</md-hint>
            </md-input-container>
            <div *ngIf="title.invalid && (title.dirty || title.touched)" style="color:#a94442">
                <div *ngIf="title.hasError('required')">请填写话题</div>
            </div>
        </tr>

        <tr>
            <h4><i class="fa fa-tags" style="margin:10px;color:#eb7350"></i>补充内容</h4>
            <md-input-container>
                <input mdInput placeholder="补充内容" name="content" maxlength="30" [(ngModel)]="article.content" #content="ngModel">
            </md-input-container>
            <div [hidden]="content.valid || content.untouched" style="color:#a94442">
                <div [hidden]="!content.hasError('required')">请填写补充内容</div>
            </div>
        </tr>
        <tr>
            <image-upload [max]="9" [url]="ArticleUrl" [buttonCaption]="'添加图片'" [dropBoxMessage]="'最多上传9张照片'" [extensions]="['jpg','png','gif']"
                (uploadFinished)="imageUploaded($event)" (removed)="imageRemoved($event)"></image-upload>
        </tr>
    </table>
    <button (click)="commit()" #commitButton class="btn btn-primary btn-block">
      <md-progress-spinner *ngIf="showSpinner" mode="indeterminate" strokeWidth="15" color="accent">
      </md-progress-spinner>
      <span  *ngIf="!showSpinner" >
                    发布
            </span>
    </button>
</form>

<style>
    .mat-progress-spinner {
        width: 20px;
        height: 20px;
        margin: 0 auto;
    }

    .example-margin {
        margin: 0 10px;
    }

    .mat-input-container {
        width: 100%!important;
    }

    /deep/ .button {
        --active-color: #eb7350;
        border-radius: 30px;
        font-size: 10px!important;
    }
</style>