<div style="position:absolute;top:0;left:0;right:0;bottom:0;">
    <mat-sidenav-container style="margin: 0;padding: 0;width: 100%">
        <mat-toolbar style="background-color:#87cefa">
            <button mat-icon-button (click)="back()">
                    <i class="fa fa-long-arrow-left" style="float:left"></i>
              </button>
            <div style="text-align:center;width:100%">话题列表</div>
        </mat-toolbar>
    </mat-sidenav-container>
    <div class="inner-sidenav-content">

        <mat-card *ngFor="let a of articleList">
            <mat-card-header (click)="gotoArticleDetail(a.id)">
                <mat-card-title>
                    {{a.title}}
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <i class="fa fa-thumbs-up" style="color:#eb7350"></i>{{a.countSupportNumber}}
                <i class="fa fa-commenting" style="color:#eb7350"></i>{{a.countCommentNumber}}
                <i class="fa fa-eye" style="color:#eb7350"></i>{{a.readNumber}}
                <small>{{a.publishTime|date:'yy/MM/dd HH:mm:ss'}}</small>
            </mat-card-content>
        </mat-card>
    </div>
</div>
